---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
});

const posts = entries.items.map((item) => {
  const { title, date, description, slug } = item.fields;
  return {
    title,
    slug,
    description,
    date: new Date(date).toLocaleDateString()
  };
});

---

<Layout title="My Articles">
  <Container class="h-screen mt-16">
    <h1>My Articles</h1>
    <ul class="text-slate-900">
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}`}>{post.title}</a>
          </li>
        ))
      }
    </ul>
  </Container>
</Layout>
