---
import Calendar from "../components/Calendar";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Book an Appointment">
  <Hero>
    <div
      id="book"
      class="flex flex-col justify-start items-center mx-auto mt-[30px] gap-8 w-11/12 md:w-9/12"
    >
      <h1
        class="text-5xl md:text-6xl text-start font-semibold py-8 w-full"
        id="about-me"
        transition:name="About Me"
      >
        Ready to start? Let’s talk!
      </h1>
      <p class="text-xl text-gray-600 mb-6">
        Schedule a meeting with us using the calendar below.
      </p>
      <Calendar client:load />
    </div>
  </Hero>
</Layout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
  gsap.fromTo(
    "#book",
    {
      opacity: 0,
      y: 25,
    },
    {
      opacity: 1,
      y: 0,
      duration: 1.5,
      stagger: 1,
      ease: "power3.out",
      scrollTrigger: {
        trigger: "#about-me",
        start: "top 80%",
        end: "bottom 20%",
      },
    }
  );
</script>
