---
import { Image } from "astro:assets";
import Section from "../components/Section.astro";
import Vale from "../assets/vale.jpeg";
---

<Section class="w-full bg-quaternary">
  <div class="flex items-start justify-around gap-8 flex-col pt-12" id="about">
    <div
      class="flex flex-col md:flex-row justify-center items-center gap-8 md:w-9/12 mx-auto"
    >
      <div class="flex flex-col justify-center items-center md:text-lg px-2">
        <h3
          class="text-5xl md:text-6xl text-start font-semibold mt-8 mb-16 w-full"
          id="about-me"
          transition:name="About Me"
        >
          About Me
        </h3>
        <div class="flex flex-col gap-4" id="about-text">
          <p>
            As a certified mindfulness coach aligned and trained with the ICF
            Core Competencies, I specialize in helping individuals and teams
            overcome stress, improve focus, and cultivate greater resilience.
          </p>
          <p>
            Through personalized coaching sessions, I guide clients to develop
            practical mindfulness techniques and cultivate a positive mindset
            that empowers them to achieve their goals.
          </p>
        </div>
      </div>
      <Image
        src={Vale}
        alt="Vale Borzori"
        class="max-w-md rounded-xl shadow-md w-full grayscale-[90%]"
        id="Vale"
      />
    </div>
  </div>
  <div
    class="flex flex-col justify-center items-center gap-10 bg-secondary border-none rounded-xl px-8 py-10 w-full lg:w-8/12 mx-auto text-center my-20 shadow-md"
  >
    <h4 class="text-2xl md:text-4xl font-extrabold text-center">
      Discover Your Path to Unbound Potential
    </h4>
    <div class="space-y-0">
      <p class="md:text-lg text-pretty">
        Are you feeling stuck, unsure of your direction, or limited by negative
        thoughts?
      </p>
      <p class="md:text-lg text-pretty">
        As a dedicated life coach, I specialize in guiding individuals to unlock
        their full potential through mindset transformation, mindfulness
        techniques, and a positive focus.
      </p>
    </div>
  </div>

  <div class="flex justify-center mx-auto w-full py-14">
    <spam class="text-xl italic font-semibold font-kumbh leading-snug">
      Let's break free from limitations and discover the boundless possibilities
      that await you.
    </spam>
  </div>
</Section>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  document.addEventListener("astro:after-swap", () => {
    gsap.registerPlugin(ScrollTrigger);

    gsap.fromTo(
      ["#about-me", "#about-text"],
      {
        opacity: 0,
        y: 25,
      },
      {
        opacity: 1,
        y: 0,
        duration: 1.5,
        stagger: 1,
        ease: "power3.out",
        scrollTrigger: {
          trigger: "#about-me",
          start: "top 80%",
          end: "bottom 20%",
        },
      }
    );

    gsap.fromTo(
      "#Vale",
      {
        opacity: 0,
      },
      {
        opacity: 1,
        duration: 1.5,
        ease: "power3.out",
        delay: 0.5,
        scrollTrigger: {
          trigger: "#about-me",
          start: "top 80%",
          end: "bottom 20%",
          toggleActions: "play none none none",
        },
      }
    );
  });
</script>
