---
import { Icon } from "astro-icon/components";
---

<div
  class="w-11/12 md:w-9/12 bg-quaternary flex flex-col justify-center items-center mx-auto p-8 rounded-3xl gap-10 my-10"
>
  <div class="max-w-xl">
    <h4 class="text-4xl py-4 font-semibold">Get online session.</h4>
    <div class="space-y-2">
      <p>
        Together, we'll embark on a journey of self-discovery, exploring your
        unique strengths, values, and aspirations.
      </p>
      <p>
        Whether you're seeking greater career satisfaction, improved
        relationships, or personal growth, I'm here to support you every step of
        the way.
      </p>
    </div>
  </div>
  <div class="flex flex-row h-auto  justify-center gap-8">
    <Icon
      name='arrow-right'
      height={60}
      width={60}
      class="text-tertiary"
      id='arrow-right'
    />
    <button
      class="bg-tertiary text-white rounded-lg font-semibold px-8 py-3 text-sm w-auto"
    >
      Book now
    </button>
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.fromTo(
    '#arrow-right',
    {
      opacity: 0,
      x: -10,
    },
    {
      x: 0,
      opacity: 1,
      duration: 1.5,
      delay: 0.5,
      ease: "power2.out",
      stagger: 0.8,
      scrollTrigger: {
        trigger: "#arrow-right",
        start: "top 80%",
        end: "bottom 20%",
      },
    }
  );
</script>
