---
import { Icon } from "astro-icon/components";
import FooterNavbar from "./FooterNavbar.astro";
---

<div
  class="w-full bodeder-top bg-black text-slate-50 min-h-60 h-full flex flex-col"
>
  <div class="w-full flex justify-around items-center flex-wrap">
    <div class="flex justify-center items-center h-full flex-col gap-4">
      <FooterNavbar />
    </div>
    <div class="flex justify-center items-center h-full flex-col gap-4">
      <div class="flex justify-center items-center h-full flex-col gap-2 text-sm">
        <span>+44 7522866500</span>
        <span>contact@adesso-coaching.com</span>
        <a href="#"> </a>
        <Icon name="linkedin" class="text-white fill-black h-10 w-10" />
      </div>
    </div>
  </div>
  <div class="w-full text-center text-xs py-2">
    ©2024 Adesso | Designed by MatiCanzani
  </div>
</div>
