---
import { Icon } from "astro-icon/components";
const { class: className } = Astro.props;
const items = [
  { text: "About Me", link: "#about" },
  { text: "Services", link: "#services" },
  { text: "Blog", link: "/blog" },
];
---

<nav
  class=`flex justify-between w-full py-8 absolute left-0 px-8 gap-4 ${className} `
>
  <p class="md:text-lg">Adesso</p>
  <ul class="flex justify-between gap-4">
    {
      items.map((item) => (
        <li>
          <a href={item.link} class="font-oxygen md:text-lg">
            {item.text}
          </a>
        </li>
      ))
    }
    <li>
      <a href="/contact" class="underline font-oxygen md:text-lg"
        ><div class="flex justify-between items-center gap-2">
          Book a Call <Icon
            name="book-a-call"
            class="text-tertiary fill-none w-6 h-6"
          />
        </div></a
      >
    </li>
  </ul>
</nav>
